.item-card .card-title-text {
    padding: .5rem 1.5rem !important;
    align-items: center;
}
.item-card .card-title-text .md .mat-icon {
    vertical-align: top;
}
.item-card .item-details .mat-icon {
    vertical-align: top;
    margin-right: .5rem;
}
